/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
  padding: 15px;
  max-width: 1200px;
  gap: 20px;
  border-radius: 5px;
  animation: dash 3s ease-in-out infinite;
}
.box {
  display: flex;
  margin-bottom: 50px;
}
.imageContainer {
  width: 500px;
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.details {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.details p {
  margin-bottom: 10px;
}
.title {
  margin-bottom: 20px;
}
.styledLink {
  color: #ff521e;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 55px;
}
.styledLink:hover {
  color: white;
  text-decoration: underline;
}
.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
button {
  background-color: #ff521e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #ff521e;
}
.castBox {
  display: flex;
  flex-direction: column;
}
.castBox h2 {
  margin-bottom: 10px;
}
.castContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.castDetails {
  width: 100px;
}
.castDetails img {
  width: 100%;
}

.castDetails h4 {
  font-size: 13px;
  font-weight: bold;
}
.castDetails p {
  font-size: 13px;
} */
